<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  
  <alias alias="IEntradaInterface" type="padrao.Interface.IEntradaInterface, padrao.Interface"/>
  <alias alias="EntidadeNegocio" type="padrao.Negocio.EntidadeNegocio, padrao.Negocio"/>
  
  <container>
    <register type="IEntradaInterface" mapTo="EntidadeNegocio"/>
  </container>
  
</unity>