<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9feb09e0-1946-4500-abc7-3f99cd9fce34/resourceGroups/rainhadascamisetas/providers/Microsoft.Web/sites/WEBAPP2</ResourceId>
    <ResourceGroup>rainhadascamisetas</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapp2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapp2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WEBAPP2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WEBAPP2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RCDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=azurserv.database.windows.net;Initial Catalog=DB_APP;Integrated Security=False;User ID=melquelima;Password=Qwerty333;Connect Timeout=60" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="padrao.Negocio.RCDBContext, padrao.Negocio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="RCDBContext-Web.config Connection String">
      <ParameterValue>Data Source=azurserv.database.windows.net;Initial Catalog=DB_APP;Integrated Security=False;User ID=melquelima;Password=Qwerty333;Connect Timeout=60</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>